/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --azul: #1667be;
  --naranja: #f3a826;
  --celeste: #abd3ff;
  --blanco: #ffffff;
  --negro: #000000;
  --gris-claro: #f0f0f0;
  --gris-oscuro: #333333;
  --rojo: #e74c3c;
  --verde: #2ecc71;
}

:host {
  font-family: 'Montserrat', sans-serif;
  display: block;
  padding: 20px;
  background-color: var(--gris-claro);
  color: var(--gris-oscuro);
}
