<div class="sidebar">
  <div class="sidebar-brand">
    <i class="fas fa-store"></i>
    <span>Tec Medical</span>
  </div>

  <nav class="sidebar-nav">


    <a (click)="irAVentas()">
      <i class="fas fa-file-invoice-dollar"></i>
      <span>Ventas</span>
    </a>

    <a (click)="irAClientes()">
      <i class="fas fa-users"></i>
      <span>Clientes</span>
    </a>
    <a (click)="irAProductos()">
      <i class="fas fa-boxes"></i>
      <span>Productos</span>
    </a>
    <a (click)="irACategorias()">
      <i class="fas fa-file-invoice-dollar"></i>
      <span>Categorias</span>
    </a>
         <a (click)="salir()">
      <i class="fas fa-sign-out-alt"></i>
      <span>Salir</span>
    </a>
  </nav>
</div>
