<div class="container">
  <h2>Listado de Ventas</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <table class="table table-bordered" *ngIf="ventas.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.idVenta }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.vendedor }}</td>
        <td>{{ venta.fechaDate | date : "short" }}</td>
        <td>{{ venta.total | currency : "PEN" }}</td>

        <td>
          <button
            class="btn btn-primary btn-sm"
            (click)="verDetalle(venta.idVenta)"
          >
            Ver detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4">
  
</div>
</div>
