<div class="venta-list-container">
  <h2>Listado de Ventas</h2>

  <div class="mt-4">
  <button class="btn btn-secondary" (click)="registrarVenta()">
    ← Registrar Venta
  </button>
  </div>

  <div *ngIf="error" class="alert">{{ error }}</div>

  <table class="venta-table" *ngIf="ventas.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.idVenta }}</td>
        <td>{{ venta.cliente }}</td>
        <td>{{ venta.vendedor }}</td>
        <td>{{ venta.fechaDate | date : "shortDate" }}</td>
        <td>{{ venta.total | currency : "PEN" : "symbol" : "1.2-2" }}</td>
        <td>
          <button class="venta-btn" (click)="verDetalle(venta.idVenta)">
            Ver detalle
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="no-data" *ngIf="ventas.length === 0">
    <p>No hay ventas registradas.</p>
  </div>
</div>
